<div *ngIf="planetList" class="latest">
    Time since the latest planet discovery:

    <p><span>{{planetList[index].created_at | time }} </span><i class="fa fa-clock-o" aria-hidden="true"></i></p>
</div>
<div class="latest1">
    Check the last 5 discovered planets below:
</div>

<div *ngIf="planetList">

    <app-planets-list-item *ngFor="let planet of planetList | slice:0:5" [planet]="planet"></app-planets-list-item>
    <div *ngIf="planetList.length === 0" class="planets-no">No planets!</div>
</div>
<div *ngIf="!planetList" class="loading">
    <mat-spinner style="margin:0 auto;" color="warn"></mat-spinner>
    Loading...
</div>