.new-planet-border {
    border: .1em solid rgba(0, 0, 255, 0.5);
    border-radius: 1.5em;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    padding: 1.1em;
    background-color: whitesmoke;
    box-shadow: 0 0 3em 0 rgb(12, 69, 211);
}

.new-planet-border .input {
    margin-bottom: 1em;
}

.header-background {
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
    border: 1px solid black;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
}

.header-background span {
    background-color: whitesmoke;
    padding: 0.5em;
    margin-top: 0.5em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
}

.title, .new-planet-content {
    display: flex;
    flex-direction: column;
}

.new-planet-content {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.new-planet-content textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0;
}

.new-planet-content label {
    margin-bottom: 0.3em;
}

.new-planet-title input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
}

button+button {
    margin-left: 1rem;
}

.new-planet-buttons {
    margin-top: 1em;
    text-align: center;
}

.new-planet-buttons button {
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
    padding: 0.4em 1.5em;
    border: 1px solid #333333;
    border-radius: 1.5em;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}