<div class="imgContainer">
    <img [src]="imgPath" alt="Exo Planets Logo" />
</div>

<section class="about-content">
    <div class="planet-discovery-logo"><a routerLink="/home"><span>Planet Discovery</span></a></div>
    <p>'s primary goals, as described in the NASA Science Plan, are to discover planets around other
        stars, to characterize their properties and to identify planets that could harbor life.
    </p>
    <p>
        <a routerLink="/planets">Find your planet now.</a><i class="fa fa-globe" aria-hidden="true"></i>
    </p>
</section>