.imgContainer {
    width: 900px;
    margin: auto;
    margin-top: 30px;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 61px -25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 61px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 61px -25px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
}

a,
.imgContainer div h5 {
    font-size: 15px;
    /* font-style: italic; */
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.planet-discovery-logo {
    display: inline;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}

section.about-content .planet-discovery-logo a {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.planet-discovery-logo span:nth-child(1) {
    color: rgb(173, 185, 230);
    /* font-style: italic; */
}

.planet-discovery-logo span:nth-child(2) {
    color: blue;
    /* font-style: italic; */
}

.about-content p:nth-child(2) {
    display: inline;

}

.about-content {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2%;
}

.about-content p,
.about-content a {
    font-size: 20px;
    font-style: normal;
}

.about-content a {
    color: grey;
    text-decoration: underline;
    font-weight: bold;
}

.about-content a:hover {
    color: rgb(92, 86, 86);
}