<main>
    <p *ngIf="!(isLoggedIn$ | async)" class="ppp">
        Welcome Space Explorer, please Login or Register!
    </p>
    <div *ngIf="!(isLoggedIn$ | async)" class="container">
        <ul>
            <li>
                <a (click)="navigateToLogin()">
                    Login
                </a>
            </li>
            <li>
                <a (click)="navigateToRegister()">
                    Register
                </a>
            </li>
        </ul>
    </div>
    <app-planets-list></app-planets-list>
</main>

<!-- <aside>
    <app-aside></app-aside>
</aside> -->