<div class="welcome">
    <h3>Space, the final frontier... Where no man has gone before</h3>
    <p>
        The successes of discovering exoplanets in recent decades seem to be telling us that the galaxy is abundant with
        trillions of exoplanets, but finding them isn't easy...
    </p>
    <p>
        The hunt for an answer also is revealing important details about our own place in the universe - where we came
        from, how life came about and, perhaps, where we're headed.
    </p>
    <div class="logged" *ngIf="!(isLoggedIn$ | async)">
        <ul>
            <li>
                <a (click)="navigateToLogin()">
                    <i class="fas fa-arrow-right"></i>
                    Login
                </a>
            </li>
            <li>
                <a (click)="navigateToRegister()">
                    <i class="fas fa-user-check"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>