.planet-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    padding-bottom: 1em;
}

.planet-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
    margin-top: 1em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
}

.planet-title {
    padding: 0;
    color: white;
}

.planet-name {
    width: 100%;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.subscribers {
    text-align: right;
    flex-basis: 25%;
}

.subscribers button {
    padding: 0.2rem 0.5rem;
    color: white;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 3em 0 rgba(255, 255, 255, 0.5);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
}

.subscribe {
    background-color: rgba(0, 128, 0, 0.8);
}

.unsubscribe {
    background-color: rgba(255, 0, 0, 0.8);
}

.planet-title {
    width: 100%;
}

.planet-name-wrapper .subscribers p {
    text-align: right;
}

.planet-name {
    margin-right: 1em;
}

.planet-name h2 {
    padding-top: 0;
}

.planet-name p {
    margin: 0.5em;
}

.comment {
    margin-top: 1em;
    width: 100%;
    padding: 1em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
}

.comment header p {
    padding: 0.3em;
    text-align: center;
    background-color: #ffffffc2;
    margin-right: 0;
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
}

.comment-main {
    margin: 1em;
    display: flex;
    color: whitesmoke;
}

.userdetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userdetails p {
    padding-left: 0;
    text-align: left;
}

.post-content p {
    padding-left: 1.5em;
}

.userdetails div {
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.userdetails img {
    padding: 0;
    align-self: center;
    margin: 1em 0;
    width: 5em;
    height: 5em;
    border: 1px solid;
}

.footer {
    font-size: 1.5em;
    border-top: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.footer i {
    border: none;
    cursor: pointer;
}

.footer p {
    padding-left: 0.5em;
}

.footer .fas.fa-thumbs-up {
    color: rgba(0, 128, 0, 0.8);
}

.footer .fas.fa-thumbs-down {
    color: rgba(255, 0, 0, 0.8);
}

.answer-comment {
    width: 100%;
    margin-top: 1em;
}

.answer-comment p {
    flex-basis: 15%;
    padding-bottom: 0.3em;
    color: white;
}


.answer {
    text-align: center;
}

.answer a {
    color: white;
    text-decoration: none;
    margin: 0.5em 1em;
    padding: 0.2em 1em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
}

.answer a:hover {
    cursor: pointer;
    color: rgb(184, 184, 184);
}

.comment-area {
    min-width: 100%
}

.loading {
    color: white;
    text-align: center;
    font-weight: bold;
}