:host {
    display: flex;
    justify-content: space-around;
}

main {
    width: 50%;
}

aside {
    width: 30%;
    margin-top: 1em;
    font-size: 0.8em;
}

.container a {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 1.5em;
    padding: 0.9em 4.5em;
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
}

.container a:hover {
    cursor: pointer;
}

.container ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    gap: 50px;
}

.ppp {
    color: white;
    font-weight: bold;
    padding: 1.5em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
    text-align: center;
    margin-top: 1em;
}

.container li {
    list-style: none;
}