header {
    background: rgb(0, 128, 182);
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
}
  
header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}
  
header ul span {
    color: white;
    padding: 0.5em;
}
  
.mini-navbar ul {
    border: 1px solid white;
    border-radius: 0.3em;
    padding-left: 0;
    width: 100%;
}
  
header li {
    list-style: none;
    margin: .40em;
    padding: 0 .95em;
}
  
header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
  
nav {
    border-top: 3px solid white;
}
  
.logo {
    font-size: 1.5em;
    color: white;
    padding-bottom: 0;
    font-style: normal;   
}
  
.logo-wrap {
    font-family:'Courier New', Courier, monospace;
    letter-spacing: .5em;
    margin: 0.5em 0;
}
  
.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}
  
  /* mini-navbar */
  
.mini-navbar ul {
    background: linear-gradient(0deg, rgb(233, 239, 234) 0%, rgb(99, 169, 200) 35%, rgb(165, 165, 10) 100%);
    border-radius: 60px;
}
  
.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}

.notification{
    position: fixed;
    z-index: 10;
    right: 8%;
    top: 8%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    /* text-decoration: underline; */
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    background-color: rgba(238, 74, 74, 0.699);
  }
  
  .error-message {
      background-color: rgba(238, 74, 74, 0.699);
  }
  
  .success-message {
      background-color: rgba(99, 230, 81, 0.699);
  }
  