<header>

    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">Planet Discovery</span></p>
        </div>
        <div class="mini-navbar" *ngIf="!(isLoggedIn$ | async)">
            <ul>
                <li>
                    <a routerLink="/user/login">Login</a>
                </li>
                <li>
                    <a routerLink="/user/register">Register</a>
                </li>
            </ul>
        </div>
        <div class="mini-navbar" *ngIf="(isLoggedIn$ | async)">
            <ul>
                <li>
                    <a routerLink="/user/profile">{{(currentUser$ | async).username}}'s Profile</a>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="logoutHandler()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="nav">
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a routerLink="/planets">Planets</a>
            </li>
            <li>
                <a routerLink="/planets/new">New Discovery</a>
            </li>
            <li *ngIf="(isLoggedIn$ | async)">
                <a routerLink="/planets/latest">Latest Discoveries</a>
            </li>
            <li>
                <p *ngIf="message" [ngClass]="{'error-message': isMessageError, 'success-message':!isMessageError }"
                    class="notification">{{message}}
                </p>
            </li>
        </ul>
    </nav>

</header>