<div class="welcome" *ngIf="!(router.url === '/planets/latest')">
    <h3>Space, the final frontier... Where no man has gone before</h3>
    <p>
        The successes of discovering exoplanets in recent decades seem to be telling us that the galaxy is abundant with
        trillions of exoplanets, but finding them isn't easy... <i class="fa fa-globe" aria-hidden="true"></i>
    </p>
    <div class="logged" *ngIf="!(isLoggedIn$ | async)">
        <ul>
            <li>
                <a routerLink="/user/login">Login</a>
            </li>
            <li>
                <a routerLink="/user/register">Register</a>
            </li>
        </ul>
    </div>
</div>